<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <p>This is a microservice API that converts a date string to a unix timestamp and vice versa, made as my submission for the Timestamp Microservice project in <a href="https://www.freecodecamp.org/">freeCodeCamp's</a> Back End Development and APIs Course.</p>
    <div class="container">
      <h2>Example Usage:</h2>
      <div class="flex-links">
        <a href="api/2015-12-25">/api/2015-12-25</a>
        <a href="api/Fri, 25 Dec 2015">/api/Fri, 25 Dec 2015</a>
        <a href="api/1451001600000">/api/1451001600000</a>
      </div>
      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/aberg07">aberg07</a>
      </p>
    </div>
  </body>
</html>
